<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Janastu & Servelots</a>
      </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <!--<div class="row"-->

    <ul class="nav navbar-nav navbar-right">
       <li class="smoothScroll" href="#Servelots" routerLinkActive="active"> <a [routerLink]="['/janastu']" >JANASTU</a></li>
     <li class="smoothScroll" href="#Janastu" routerLinkActive="active"> <a [routerLink]="['/servelots']" >SERVELOTS</a></li>

     <li class="smoothScroll" href="" routerLinkActive="active"> <a [routerLink]="['/gallery']" >GALLERY</a></li>
     <li class="smoothScroll" href="#contact" routerLinkActive="active"> <a [routerLink]="['/contact']" >CONTACT</a></li>

    </ul>

 </div>
