<section id="Servelots">
	<div class="servelots">
		<h1>SERVELOTS</h1>
		<h2> Infotech Pvt. Ltd.</h2>
		<p style="font-size:14.666666666666666px;font-family:'Old Standard TT';color:#000000;
		background-color:transparent;font-weight:700;font-style:normal;
		font-variant:normal;text-decoration:none;vertical-align:baseline; ">______</p>
		<p style="font-size:17.333333333333332px;font-family:'Old Standard TT';
		color:#000000;background-color:transparent;font-weight:700;
		font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
		Servelots was founded in 1999 by a group of Computer Scientists who wanted to provide a highly cost effective but
		user friendly software for SME's with a special focus on the organizations working in the social development sectors.</p>


	</div>
	<div>
		<h3>
		3D Scanning, Reconstruction for Immersive experience</h3>
		<div class="margins">

		<table class="table-responsive" ><tr><td>

            <img class="img-responsive"  src="../../assets/images/image9.jpg" alt="" height="250px" width="400px" />
			<figcaption>Faro Scanner for scanning Monuments and Physical space.</figcaption>

		</td>
        <td>
            <img class="img-responsive" src="../../assets/images/image6.jpg" alt="" height="250px" width="400px" />
			<figcaption>3D Mapping</figcaption>
        </td> </tr>

		<tr><td>


            <img class="img-responsive" src="../../assets/images/image8.png" alt="" height="250px" width="400px" />
			<!--style="clear: both;
				display: inline-block;
				overflow: hidden;
				white-space: wrap;-->
			<figcaption >3D reconstruction for gaming and education purposes. </figcaption>
        </td>
        <td>
            <img class="img-responsive"  src="../../assets/images/image11.png" alt="" height="250px" width="400px" />
			<figcaption>Photo realistic and immersive experience on web</figcaption>
        </td></tr></table>
		</div>


	</div>

	<div>
		<h3>
		Archives for Storytelling</h3>
		<p style="font-size:15.666666666666666px;font-family:'PT Serif';color:#000000;
		background-color:transparent;font-weight:400;font-style:normal;
		font-variant:normal;text-decoration:none;vertical-align:baseline;">
		Storytelling tools for curating publicly available internet resources into digital and Visual Narratives.</p>

	</div>
	<div class="margins">

        <table  class="table-responsive"><tr>
		<td>
            <img class="img-responsive"  src="../../assets/images/image1.png" alt="" height="300px" width="500px" />
			<figcaption>A visual story of the Vijayanagara Vijayadashami celebration.</figcaption>
        </td></tr>
        <tr><td>
            <img class="img-responsive"  src="../../assets/images/image15.png" alt="" height="300px" width="500px" />


		</td></tr>

        </table>
			<p style="font-size:14.333333333333332px;font-family:'Old Standard TT';color:#000000;background-color:transparent;
				font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
				Stories from National Center for Biological Sciences, Bangalore, from its inception to its 25th anniversary.</p>

	</div>


	<div>
		<h3>
		Accessibility and Community</h3>
		<p style="font-size:15.666666666666666px;font-family:'PT Serif';color:#000000;
		background-color:transparent;font-weight:400;font-style:normal;
		font-variant:normal;text-decoration:none;vertical-align:baseline;">
		Storytelling tools for curating publicly available internet resources into digital and Visual Narratives.</p>

	</div>

	<div class="margins">

		<table class="table-responsive" >
		<tbody><tr>
		<td>
            <img class="img-responsive"  src="../../assets/images/image19.jpg" alt="" height="500px" width="400px" />
			<figcaption>A rural wifi-mesh. </figcaption>
        </td>
        <td>
            <img class="img-responsive" src="../../assets/images/image17.jpg" alt="" height="250px" width="400px" />
			<figcaption>Renarration Web for low-literates</figcaption>


            <img class="img-responsive" src="../../assets/images/image18.jpg" alt="" height="250px" width="400px" />
			<figcaption></figcaption>
        </td>
		</tr></tbody></table>

	</div>


</section>
